apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: http://{{ master_ip }}
  name: csnk8s
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubelet
  name: service-account-context
current-context: service-account-context
kind: Config
preferences: {}
users: []
